bin/
obj/
out/
.vs/
.vscode/
.git/
*.user
*.md
# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage
tmp/

# next.js
.next/
dist/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# local runtime data
config/
backend-bun/logs/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
