bin/
obj/
publish/
# Docker
.docker/
docker-compose.override.yml

## Ignore config directory
/src/**/config/

## .NET
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
.idea/
logs/
plexscan.db*
plexscan.db
!mediaflick/src/app/**/logs/